* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div[class*='Lesson'] {
  margin-bottom: 30px;
}

div[class*='Lesson'] > div {
  margin-bottom: 30px;
}

.homer {
  background-color: brown;
  padding: 16px 24px;
}
.homer img {
  margin-top: 20px;
}

button {
  padding: 16px;
  background-color: green;
  color: white;
  border: none;
  margin: 4px;
}

.exampleHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(211, 211, 211);
  color: rgb(0, 0, 0);
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}